---
import Layout from "../Layouts/Layout.astro";
---

<Layout title='Acerca del Sitio'>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem est perferendis ducimus rerum, eos molestias. A quisquam et corporis facere dolore, amet quidem, soluta unde incidunt rerum numquam quae vel animi. Voluptatum sequi minima praesentium? Ducimus repudiandae quam molestias fuga eligendi id provident ipsum est inventore iure obcaecati iusto dolore, labore maxime qui cumque nobis accusantium quisquam necessitatibus voluptas voluptatem. Cumque veritatis ex quasi voluptas sapiente magnam laboriosam dignissimos ab qui corrupti necessitatibus fugit deserunt, at est aliquid ullam temporibus enim laborum odit ea esse nulla. Sed expedita molestias nesciunt libero error, nemo voluptatum saepe tempora voluptate, sunt laboriosam quidem.</p>
</Layout>